건축물대장 PK 조인관련입니다.

1. 건축물대장 총괄표제부
서울시 건축물대장 정보.관리_건축물대장_PK = 서울시 건축물대장 총괄표제부 정보.관리_건축물대장_PK

2. 건축물대장 표제부
서울시 건축물대장 정보.관리_건축물대장_PK = 서울시 건축물대장 표제부 정보.관리_건축물대장_PK

3. 건축물대장 전유부
서울시 건축물대장 정보.관리_건축물대장_PK = 서울시 건축물대장 전유부 정보.관리_건축물대장_PK

4. 건축물대장 전유공유면적표
서울시 건축물대장 정보.관리_건축물대장_PK = 서울시 건축물대장 전유공유면적표.관리_건축물대장_PK

※ 참고로 서울시 건축물대장 관리_상위_건축물대장_PK는 표제부의 내용(대지면적, 건축면적, 용적율, 층수, 높이등)을 조인할때 사용함
-표제부와 총괄표제부 또는 전유부을 조인할때 사용

In [1]:
import pandas as pd

In [2]:
building = pd.read_csv("pre/건축물대장.csv")
pyo = pd.read_csv("pre/표제부.csv")
chongpyo = pd.read_csv("pre/총괄표제부.csv")
jeon = pd.read_csv("pre/전유부.csv")
floor = pd.read_csv("pre/층별개요.csv")
jeonArea = pd.read_csv("pre/전유공용면적.csv")

In [3]:
print(building.columns)
print(pyo.columns)
print(chongpyo.columns)
print(jeon.columns)
print(floor.columns)
print(jeonArea.columns)

Index(['관리_건축물대장_PK', '관리_상위_건축물대장_PK', '새주소_지상지하_코드', '주소'], dtype='object')
Index(['건축물대장 관리번호', '용적율', '지상층수', '지하층수', '승강기 수', '주차 대수'], dtype='object')
Index(['건축물대장 관립번호', '용적율', '주건축물수', '세대수', '가구수', '주차 대수'], dtype='object')
Index(['관리_건축물대장_PK', '동명칭', '호_명', '층_구분_코드'], dtype='object')
Index(['관리_건축물대장_PK', '층_구분_코드', '층_번호', '층_번호_명', '면적'], dtype='object')
Index(['관리_전유_공용_면적_pk', '층_구분_코드', '층_번호', '면적'], dtype='object')

In [4]:
# Rename Columns
pyo.rename(columns = {"건축물대장 관리번호": "관리_건축물대장_PK", "승강기 수": "승강기_수", "주차 대수": "주차_대수"}, inplace = True)
chongpyo.rename(columns = {"건축물대장 관립번호": "관리_건축물대장_PK", "주차 대수": "주차_대수"}, inplace = True)
jeonArea.rename(columns = {"관리_전유_공용_면적_pk": "관리_건축물대장_PK"}, inplace = True)

In [5]:
print(building.columns)
print(pyo.columns)
print(chongpyo.columns)
print(jeon.columns)
print(floor.columns)
print(jeonArea.columns)

Index(['관리_건축물대장_PK', '관리_상위_건축물대장_PK', '새주소_지상지하_코드', '주소'], dtype='object')
Index(['관리_건축물대장_PK', '용적율', '지상층수', '지하층수', '승강기_수', '주차_대수'], dtype='object')
Index(['관리_건축물대장_PK', '용적율', '주건축물수', '세대수', '가구수', '주차_대수'], dtype='object')
Index(['관리_건축물대장_PK', '동명칭', '호_명', '층_구분_코드'], dtype='object')
Index(['관리_건축물대장_PK', '층_구분_코드', '층_번호', '층_번호_명', '면적'], dtype='object')
Index(['관리_건축물대장_PK', '층_구분_코드', '층_번호', '면적'], dtype='object')

<h1>Inner Join - 표제부, 총괄표제부, 전유부 중심 3개의 table</h1>

In [6]:
full_pyo = pd.merge(building, pyo, on = "관리_건축물대장_PK", how = "inner")
full_chongpyo = pd.merge(building, chongpyo, on="관리_건축물대장_PK", how="inner")
full_jeon = pd.merge(building, jeon, on="관리_건축물대장_PK", how="inner")

In [7]:
print(f"full pyo: {full_pyo.shape}\nfull_chong: {full_chongpyo.shape}\nfull_jeon: {full_jeon.shape}\n")

full pyo: (24572, 9)
full_chong: (1464, 9)
full_jeon: (849111, 7)

In [8]:
full_pyo.shape[0] + full_chongpyo.shape[0] + full_jeon.shape[0] < building.shape[0]

True

In [9]:
full_pyo.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,용적율,지상층수,지하층수,승강기_수,주차_대수
0,11590-100241986,11590-100241435,지상,서울특별시 동작구 사당로23길 112,0.00,1,0,0,0
1,11530-7503,NaN,지상,서울특별시 구로구 구로중앙로 217,369.18,8,1,3,49
2,11530-2719,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,0.00,3,1,0,0
3,11530-2718,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,0.00,1,0,0,0
4,11530-22437,NaN,지상,서울특별시 구로구 구로중앙로19길 28,197.13,4,1,0,2

In [10]:
full_chongpyo.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,용적율,주건축물수,세대수,가구수,주차_대수
0,11530-602,NaN,지상,서울특별시 구로구 경인로53길 15,174.92,5,0,0,3421
1,11590-824,NaN,지상,서울특별시 동작구 상도로53길 8,229.25,28,1656,0,2275
2,11320-100207251,NaN,지상,방학동 345-0,149.71,0,0,0,4
3,11470-100183612,NaN,NaN,서울특별시 양천구 안양천로 683,24.57,2,0,0,5
4,11305-252,NaN,지상,서울특별시 강북구 오현로 9,94.29,4,0,0,0

In [11]:
full_jeon.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,동명칭,호_명,층_구분_코드
0,11530-82241,11530-1802,지상,서울특별시 구로구 경인로53길 15,상가동,가동2222호,지상
1,11530-118915,11530-15683,지상,서울특별시 구로구 부일로7길 13,NaN,302호,지상
2,11530-81288,11530-1802,지상,서울특별시 구로구 경인로53길 15,상가동,다동3502호,지상
3,11530-81789,11530-1802,지상,서울특별시 구로구 경인로53길 15,상가동,라동2105호,지상
4,11530-80190,11530-1802,지상,서울특별시 구로구 경인로53길 15,상가동,나동2308호,지상

In [12]:
full_jeon = pd.merge(full_jeon, jeonArea, on="관리_건축물대장_PK", how="inner")

In [13]:
full_jeon.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,동명칭,호_명,층_구분_코드_x,층_구분_코드_y,층_번호,면적
0,11710-100226585,11710-100226203,지상,서울특별시 송파구 올림픽로 145,상가,2A47,지상,40.0,0,20.7525
1,11710-100226580,11710-100226203,지상,서울특별시 송파구 올림픽로 145,상가,1A37,지상,10.0,3,6.4771
2,11710-100226584,11710-100226203,지상,서울특별시 송파구 올림픽로 145,상가,1A47,지상,40.0,0,0.5458
3,11710-100226579,11710-100226203,지상,서울특별시 송파구 올림픽로 145,상가,1A36,지상,40.0,0,16.6071
4,11710-100226583,11710-100226203,지상,서울특별시 송파구 올림픽로 145,상가,1A45,지상,10.0,3,7.0935

In [14]:
pd.merge(full_pyo, jeon, left_on="관리_상위_건축물대장_PK", right_on="관리_건축물대장_PK", how="inner")

,관리_건축물대장_PK_x,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,용적율,지상층수,지하층수,승강기_수,주차_대수,관리_건축물대장_PK_y,동명칭,호_명,층_구분_코드
0,11305-1000000000000000078912,11305-100185506,지상,서울특별시 강북구 덕릉로 95,335.51,7,1,1,17,11305-100185506,NaN,202,지상
1,11545-10899,11545-100209127,지상,서울특별시 금천구 시흥대로 356,208.49,5,1,0,7,11545-100209127,NaN,1405,지상
2,11380-4213,11380-100185057,지상,서울특별시 은평구 녹번로 55,213.09,5,1,1,7,11380-100185057,703동,206,지상

In [15]:
pd.merge(full_chongpyo, full_jeon, left_on="관리_상위_건축물대장_PK", right_on="관리_건축물대장_PK", how="inner")

Empty DataFrame
Columns: [관리_건축물대장_PK_x, 관리_상위_건축물대장_PK_x, 새주소_지상지하_코드_x, 주소_x, 용적율, 주건축물수, 세대수, 가구수, 주차_대수, 관리_건축물대장_PK_y, 관리_상위_건축물대장_PK_y, 새주소_지상지하_코드_y, 주소_y, 동명칭, 호_명, 층_구분_코드_x, 층_구분_코드_y, 층_번호, 면적]
Index: []

In [16]:
print(f"full pyo: {full_pyo.shape}\nfull_chong: {full_chongpyo.shape}\nfull_jeon: {full_jeon.shape}\n")

full pyo: (24572, 9)
full_chong: (1464, 9)
full_jeon: (1933, 10)

In [18]:
full_pyo.to_csv("full/pyojebu_inner.csv", index=False)
full_chongpyo.to_csv("full/chongwalpyojebu_inner.csv", index=False)
full_jeon.to_csv("full/jeonyubu_inner.csv", index=False)

<h1>Outer Join - 건축물 대장 중심으로 모조리 left join한 1 table</h1>

In [20]:
outer = pd.merge(building, pyo, on = "관리_건축물대장_PK", how = "left")
outer.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,용적율,지상층수,지하층수,승강기_수,주차_대수
0,11530-82241,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN
1,11530-118915,11530-15683,지상,서울특별시 구로구 부일로7길 13,NaN,NaN,NaN,NaN,NaN
2,11530-81288,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN
3,11530-81789,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN
4,11530-80190,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN

In [21]:
outer = pd.merge(outer, chongpyo, on="관리_건축물대장_PK", how="left")
outer.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,용적율_x,지상층수,지하층수,승강기_수,주차_대수_x,용적율_y,주건축물수,세대수,가구수,주차_대수_y
0,11530-82241,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11530-118915,11530-15683,지상,서울특별시 구로구 부일로7길 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11530-81288,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11530-81789,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11530-80190,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
outer_jeon = pd.merge(jeon, jeonArea, on="관리_건축물대장_PK", how="inner")
outer_jeon.head(1)

       관리_건축물대장_PK    동명칭   호_명 층_구분_코드_x  층_구분_코드_y  층_번호    면적
0  11500-100198659  에덴하우스  401호        지상       20.0     4  6.99

In [23]:
outer = pd.merge(outer, outer_jeon, on="관리_건축물대장_PK", how="left")
outer.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,용적율_x,지상층수,지하층수,승강기_수,주차_대수_x,용적율_y,주건축물수,세대수,가구수,주차_대수_y,동명칭,호_명,층_구분_코드_x,층_구분_코드_y,층_번호,면적
0,11530-82241,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11530-118915,11530-15683,지상,서울특별시 구로구 부일로7길 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11530-81288,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11530-81789,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11530-80190,11530-1802,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
outer.columns

Index(['관리_건축물대장_PK', '관리_상위_건축물대장_PK', '새주소_지상지하_코드', '주소', '용적율_x', '지상층수',
       '지하층수', '승강기_수', '주차_대수_x', '용적율_y', '주건축물수', '세대수', '가구수', '주차_대수_y',
       '동명칭', '호_명', '층_구분_코드_x', '층_구분_코드_y', '층_번호', '면적'],
      dtype='object')

In [25]:
outer.shape

(924835, 20)

In [26]:
outer = outer.dropna(subset=['용적율_x', '지상층수', '지하층수', '승강기_수', '주차_대수_x',
                       '용적율_y', '주건축물수', '세대수', '가구수', '주차_대수_y',
                       '동명칭', '호_명', '층_구분_코드_x', '층_구분_코드_y', '층_번호', '면적'], how='all')
outer.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,용적율_x,지상층수,지하층수,승강기_수,주차_대수_x,용적율_y,주건축물수,세대수,가구수,주차_대수_y,동명칭,호_명,층_구분_코드_x,층_구분_코드_y,층_번호,면적
44,11530-602,NaN,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,NaN,174.92,5.0,0.0,0.0,3421.0,NaN,NaN,NaN,NaN,NaN,NaN
138,11590-100241986,11590-100241435,지상,서울특별시 동작구 사당로23길 112,0.00,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850,11530-7503,NaN,지상,서울특별시 구로구 구로중앙로 217,369.18,8.0,1.0,3.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
851,11530-2719,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,0.00,3.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
852,11530-2718,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,0.00,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
outer['용적율'] = outer[['용적율_x', '용적율_y']].fillna(0).sum(axis=1)
outer.drop(["용적율_x", "용적율_y"], axis=1, inplace=True)
outer.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,지상층수,지하층수,승강기_수,주차_대수_x,주건축물수,세대수,가구수,주차_대수_y,동명칭,호_명,층_구분_코드_x,층_구분_코드_y,층_번호,면적,용적율
44,11530-602,NaN,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,NaN,5.0,0.0,0.0,3421.0,NaN,NaN,NaN,NaN,NaN,NaN,174.92
138,11590-100241986,11590-100241435,지상,서울특별시 동작구 사당로23길 112,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
850,11530-7503,NaN,지상,서울특별시 구로구 구로중앙로 217,8.0,1.0,3.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,369.18
851,11530-2719,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,3.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
852,11530-2718,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00

In [28]:
outer['주차_대수'] = outer[['주차_대수_x', '주차_대수_y']].fillna(0).sum(axis=1)
outer.drop(["주차_대수_x", "주차_대수_y"], axis=1, inplace=True)
outer.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,새주소_지상지하_코드,주소,지상층수,지하층수,승강기_수,주건축물수,세대수,가구수,동명칭,호_명,층_구분_코드_x,층_구분_코드_y,층_번호,면적,용적율,주차_대수
44,11530-602,NaN,지상,서울특별시 구로구 경인로53길 15,NaN,NaN,NaN,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,174.92,3421.0
138,11590-100241986,11590-100241435,지상,서울특별시 동작구 사당로23길 112,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0
850,11530-7503,NaN,지상,서울특별시 구로구 구로중앙로 217,8.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,369.18,49.0
851,11530-2719,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0
852,11530-2718,11530-844,지상,서울특별시 구로구 오리로21가길 47-10,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0

In [29]:
outer.shape

(27969, 18)

In [30]:
outer.to_csv("full/outer.csv", index=False)